@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

* {
    box-sizing: border-box;
    user-select: none;
}

body {
    margin: 0;
    padding: 0;
    background: #292929;
}

html, body, .container {
    height: 100%;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #303030;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #30db5b;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #33ff66;
  }

.container {
    max-width: 800px;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 32px;
}

canvas {
    /* background: #353535; */
    border: 4px solid #33ff66;
    border-radius: 4px;
    padding: 8px;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    min-width: 350px;
    margin: 64px 0px;
}

.buttons button {
    margin: 0px 4px;
    padding: 8px 16px;
    background-color: transparent;
    color: #33ff66;
    border: 2px solid #33ff66;
    border-radius: 4px;
    font-weight: bold;
    outline: none;
}

.buttons button:focus {
    background-color: #155c27;
    color: #33ff66;
}

.buttons button:active {
    background-color: #33ff66;
    color: #292929;
}

.indicator {
    display: inline-block;
    content: ' ';
    width: 8px;
    height: 8px;
    margin: 0px 8px;
    border-radius: 50%;
    background-color: rgb(104, 76, 0);
    box-shadow: none;
}

.indicator.on {
    background-color: rgb(255, 230, 0);
    box-shadow: 0px 0px 16px 0px rgb(255, 174, 0);
}

.rom {
    width: 100%;
    padding: 8px;
    margin-top: 16px;
    font-family: 'Share Tech Mono', monospace;
    font-weight: bold;
    background-color: #33ff66;
    color: #353535;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.keypad {
    width: 90%;
    max-width: 650px;
    aspect-ratio: 1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 8px;
    margin: 0 16px;
    padding: 8px;
    background: #292929;
    border: 4px solid #33ff66;
    border-radius: 4px;
}

.keypad button {
    font-size: 2.5rem;
    font-weight: bold;
    border: none;
    background-color: #33ff66;
    color: #292929;
    transition: all 0.05s ease-in-out;
}

.keypad button:active {
    background-color: rgba(51, 255, 102, 0.10);
    color: #33ff66;
}

@media (max-width: 1000px) {

    canvas {
        border: 1px solid #33ff66;
    }

    .container {
        flex-direction: column;
        padding: 8px;
    }

    .roms {
        font-size: 0.95em;
        width: 100%;
    }
}

@media (max-width: 500px) {
    .roms {
        font-size: 0.75em;
    }
}
